<!DOCTYPE html>
<html>
<head>
    <title>Form Frontend</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h2>Todo Form</h2>

<form action="http://backend:5000/submit" method="POST">
    <input type="text" name="itemName" placeholder="Item Name" required><br><br>

    <textarea name="itemDescription" placeholder="Description" required></textarea><br><br>

    <button type="submit">Submit</button>
</form>

</body>
</html>
